body {
    margin: 0;
}

.cabecalho {
    text-align: center;
    font-weight: bold;
    background-color: #2D5377;
  }
 
.cabecalho__logo {
    padding: 1.5em 0;
    height: 3.5em;
    display: flex;
    justify-content: center;
}
 
.cabecalho__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #272B3A87;
}
 
.cabecalho__item-menu a {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.86em 1.42em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

 

















