/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo básico para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Estilo para a navegação (menu) */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para o logotipo */
.logo {
    text-align: center;
}

.logo h1 {
    font-size: 24px;
}
